@model HomeDetailsViewModel

@{
    ViewBag.Title = "Contact";
}
<div class="card m-3">
    <div class="card-header bg-secondary">Author</div>
    <div class="card-body">
        <img class="card-img-top imageThumbnail" src="" asp-append-version="true" />
        <div class="">Name: Name</div>
        <div class="">Email: Email</div>
        <div class="">Phone: 647-XXX-XXXX</div>
        <div class="">Github: cpalden</div>
    </div>
    <div class="card-footer">
        <a asp-controller="Home" asp-action="register" class="btn btn-info" >Edit</a>
    </div>
</div>