@{
    ViewBag.Title = "Error";
}
<div class="card m-3">
    <div class="card-header bg-danger">404 Error!</div>
    <div class="card-body align-self-center">
        <h5 class="text-danger">The url path does not exist.</h5>
    </div>
    <div class="card-footer align-self-center">
        <a class="btn btn-info" asp-controller="home" asp-action="index">
            Click here to Redirect to Home Page.
        </a>
    </div>
</div>